html{
    padding: 0px;
    height: 100%;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    margin: 0;
    background-color: mediumseagreen;
}

.gameContainer{
    border: 5px #166143 solid;
    height: 90%;
    width: 45%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
    background-color: cornsilk;
    border-radius: 10px;
}

.naslov{
    color: rgb(51, 30, 4);
    font-size: 50px;
    border-bottom: 6px rgb(51, 30, 4) solid;
    padding: 5px;
    font-family:'Times New Roman', Times, serif;
    font-style: italic;
    font-weight: bold;
}

.gridContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 60%;
    aspect-ratio: 1;
    border: 5px rgb(51, 30, 4) solid;
}

.gridRow{
    box-sizing: border-box;
    display: flex;
    flex: 1;
}

.gridSquare{
    box-sizing: border-box;
    flex: 1;    
    background-color: rgb(109, 98, 73);
}

.btnsContainer{
    display: flex;
    gap: 15px;
}

button{
    background-color: rgb(221, 208, 156);
    color: rgb(51, 30, 4);
    padding: 10px;
    font-size: 22px;
    border: 3px rgb(51, 30, 4) solid;
    font-weight: bold;
    border-style:groove;
    font-family: 'Times New Roman', Times, serif;
    margin: -1px;
}

button:hover,
button.active{
    background-color: rgb(131, 123, 94);
}

.input{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 5px;
}

.inputDesc{
    color: rgb(51, 30, 4);
    border-bottom: 2px rgb(51, 30, 4) solid;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    padding-bottom: 5px;
}

.rangeNumber{
    color: rgb(51, 30, 4);
    font-weight: bold;
}